body{
    background-image: url(./img/shara\ desert.jpg);
    background-size: cover;
}

.navbar{
    background-color: transparent;
    overflow: hidden;
}
#nav_left{
    display: inline-block;
    margin: 1rem 0rem 0rem 3rem;
}
#nav_left img{
    width: 69px; 
    height:69px;
    padding: 1rem;
    transition: width 1s,height 1s;
}
#nav_right{
    display: inline;
    float: right;
}
#nav_right ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#nav_right li{
    text-align: center;
    display: inline;
    margin: 1rem;
}
#nav_right a{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    transition:font-size 1s;
}

#cont{
    display: flex;
}

.para{
    color: white;
    margin-top: 100px;
    margin-left: 80px;
    width: 50vw;
}

h1{
    font-size: 100px;
}

.box{
    margin: 1rem;
    width: 17rem;
    height: 17rem;
    position: relative;
    transition: width 1s,height 1s, bottom 1s,position 1s;
}

#img1{
    width: 200px;
    height: 220px;
    margin: 20px;
    border-radius: 10px;
    background-image: url(./img/pic-1.png);
    background-size: cover;
    padding: 20px;
}

#img2{
    width: 200px;
    height: 220px;
    margin: 20px;
    border-radius: 10px;
    background-image: url(./img/pic-2.png);
    background-size: cover;
    padding: 20px;
}

#img3{
    width: 200px;
    height: 220px;
    margin: 20px;
    border-radius: 10px;
    background-image: url(./img/pic-3.png);
    background-size: cover;
    padding: 20px;
}

#p{
    font-size: 16px;
    margin-top: -50px;
}

#img4{
    width: 200px;
    height: 220px;
    margin: 20px;
    border-radius: 10px;
    background-image: url(./img/pic-4.png);
    background-size: cover;
    padding: 20px;
}

#div{
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin-left: 100px;
    margin-top: 50px;
}


p{
    color: white;
    font-size: small;
}

h3{
    color: white;
}

button{
    height: 40px;
    width: 180px;
    border-radius: 50px;
    border: 1px solid white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#img1:hover{
    transition: all 0.5s;
    margin-top: -1px;
}

#img2:hover{
    transition: all 0.5s;
    margin-top: -1px;
}

#img3:hover{
    transition: all 0.5s;
    margin-top: -1px;
}

#img4:hover{
    transition: all 0.5s;
    margin-top: -1px;
}


/* -------media----------- */


@media only screen and (max-width:1290px) and (min-width:851px){

    #cont{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    #div{
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }

    #img4::before{
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    
}
@media only screen and (max-width:850px) and (min-width:600px){
    #cont{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    #div{
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    .box{
        margin: 1rem;
        width: 17rem;
        height: 17rem;
    }
    #nav_right ul{
        display: block;
    }
    .box::before{
        background-repeat:no-repeat;
    }

}
@media only screen and (max-width:599px) and (min-width:100px){
    #cont{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }

    #nav_right{
        float: none;
    }
    #div{
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    .box::before{
        background-repeat:no-repeat;
    }
}